body {
    background-color: #121214;
    color: #e1e1e6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #1f2024;
    padding: 20px;
    border-bottom: 3px solid #8257e5;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #8257e5;
    text-shadow: 2px 2px #000;
}

.games-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
}

.game-card {
    background-color: #1f2024;
    border: 2px solid #29292e;
    border-radius: 12px;
    margin-bottom: 25px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.game-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.game-card h3 {
    color: #04d361;
    margin-top: 0;
    font-size: 20px;
}

.game-desc {
    color: #a8a8b3;
    font-size: 14px;
    margin-bottom: 20px;
}

/* تصميم الزر الجديد الفخم */
.play-btn {
    display: inline-block;
    background-color: #8257e5;
    color: #ffffff;
    padding: 12px 25px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
    box-shadow: 0 4px 15px rgba(130, 87, 229, 0.4);
}

.play-btn:hover {
    background-color: #9466ff;
    transform: scale(1.05);
}

.ad-space {
    background-color: #202024;
    border: 2px dashed #494d4b;
    color: #8d8d99;
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 6px;
    font-size: 14px;
}

footer {
    background-color: #1f2024;
    padding: 15px;
    color: #7c7c8a;
    font-size: 12px;
    margin-top: 50px;
}
